@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Css/MyCss.css" rel="stylesheet" />
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular.min.js"></script>
</head>
<body>

    <div class="rectangletop"></div>
    <div class="rectangleleft"></div>

    
        <div class="mypagecontainer">

            <div class="container ">

                <div class="row" id="main">
                    <div class="col-md-3 well" id="leftPanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <img class="img-responsive" style="border:2px solid black" src="http://www.effe-siti-torino.com/img_puzzle/Johnny_Depp_2/272/Johnny_Depp_rid.jpg" />
                                    <ul class="py-3">
                                        <li>Ecole : Sophia Antipolis</li>
                                        <li>Eleve de B3</li>
                                    </ul>

                                </div>
                                <!--  <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <td style="text-align:left"><span class="glyphicon glyphicon-home"></span> Addresse</td>
                                            <td >Place de Gaulle</td>
                                        </tr>


                                        <tr>
                                            <td style="text-align:left"><span class="glyphicon glyphicon-phone-alt"></span> Telephone</td>
                                            <td>+33098097</td>
                                        </tr>



                                        <tr>
                                            <td style="text-align:left"><span class="glyphicon glyphicon-envelope"></span> Mail</td>
                                            <td>2502@campusid.eu</td>

                                        </tr>
                                        <tr><td>davide.gagliardi94@libero.it</td>  </tr>
                                    </table>
                                </div>-->
                                <hr />
                                <div style="text-align:left">
                                    <span class="glyphicon glyphicon-home"></span>
                                    <span> Addresse</span>
                                </div>
                                <ul>
                                    <li>Antibes</li>
                                </ul>

                                <hr />

                                <div style="text-align:left">
                                    <span class="glyphicon glyphicon-phone-alt"></span>
                                    <span>Telephone</span>
                                </div>
                                <ul>
                                    <li>+33098097</li>
                                </ul>

                                <hr />

                                <div style="text-align:left">
                                    <span style="text-align:left" class="glyphicon glyphicon-envelope"> </span>
                                    <span>Mail</span>
                                    <ul>
                                        <li>2502@campusid.eu</li>
                                    </ul>
                                </div>




                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 well" id="rightPanel" style="margin-left:8px;">
                        <div class="row">
                            <div class="col-md-12 px-3">
                                <div class="card-block px-3">
                                    <h3 class="py-5 px-lg-5 text-left">Bienvenue, Prenom Nom</h3>

                                </div>
                            </div>

                        </div>

                        <div class="   py-5 ">
                            <ul class="navigation ">
                                <li class="  ">
                                    <a data-toggle="tab" href="#information">
                                        Mon Profile
                                        <span class="glyphicon glyphicon-user "></span>
                                    </a>
                                </li>
                                <li class="  ">
                                    <a data-toggle="tab" href="#settings ">
                                        Mofier
                                        <span class="glyphicon  glyphicon-cog"></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a data-toggle="tab" href="#messages">
                                        Mes messages
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </a>
                                </li>
                                <li class="  ">
                                    <a data-toggle="tab" href="#allEvents">
                                        Evenements
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="user-body">
                            <div class="tab-content ">

                                <!-------------------------------------------------------------------MODIFIER------------------------------------------------------------------------------------------------------------>
                                <div id="settings" class="tab-pane ">

                                    <div class="card mybox">
                                        <div class="card-header">
                                            <h4>Modifier email</h4>
                                        </div>
                                        <div class="card-block">
                                            <br />
                                            <form class="form-inline" style="margin-left:5%;padding-bottom:10px;" action="">
                                                <select class="form-control" style="height:auto; margin-right:5px; width:30%;">
                                                    <option value="ajouter">ajouter</option>
                                                    <option value="one">{{email à modifier}}</option>
                                                </select>

                                                <input type="email" placeholder="nouvelle email" class="form-control" id="email" style="width:50%;">
                                                <button type="submit" class="btn btn-danger" style="margin-left:15px">Envoyer</button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="card mybox">

                                        <div class="card-header">
                                            <h4>Modifier l'adresse</h4>
                                        </div>
                                        <div class="card-block">
                                            <br />
                                            <form class="form-inline" style="margin-left:5%;padding-bottom:10px;" action="">
                                                <select class="form-control" style="height:auto; margin-right:5px; width:30%;">
                                                    <option value="ajouter">ajouter</option>
                                                    <option value="one">{{adresse à modifier}}</option>
                                                </select>

                                                <input type="email" placeholder="nouveau addresse" class="form-control" id="email" style="width:50%;">
                                                <button type="submit" class="btn btn-danger" style="margin-left:15px">Envoyer</button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="card mybox">
                                        <div class="card-header">
                                            <h4>Modifier le numero de telephone</h4>
                                        </div>
                                        <div class="card-block">
                                            <br />
                                            <form class="form-inline" style="margin-left:5%;padding-bottom:10px;" action="">
                                                <select class="form-control" style="height:auto; margin-right:5px; width:30%;">
                                                    <option value="ajouter">ajouter</option>
                                                    <option value="one">{{telephone à modifier}}</option>
                                                </select>
                                                <input type="text" placeholder="nouveau numero" class="form-control" id="email" style="width:50%;">
                                                <button type="submit" class="btn btn-danger" style="margin-left:15px">Envoyer</button>
                                            </form>

                                        </div>
                                    </div>

                                </div>



                                <!------------------------------------------------------------------------SETTINGs------------------------------------------------------------------------------------------------------->
                                <div id="information" class="tab-pane">

                                    <!-- <div>
                                        <object type="text/html" data="http://validator.w3.org/" style="overflow:auto;border:5px ridge blue"></object>
                                    </div> -->
                                    <div class="distanceTop">
                                        <div class="card ">
                                            <div class="car card-danger">
                                                <div class="card-header">
                                                    <h3>Personal Informations</h3>
                                                </div>
                                                <div class="card-block">
                                                    <div class="myLittleContainer">
                                                        <table class="table table-user-information">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Nom:</td>
                                                                    <td>{{nom}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Prenom:</td>
                                                                    <td>{{prenom}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Date de naissance</td>
                                                                    <td>{{dateN}}</td>
                                                                </tr>

                                                                <tr>
                                                                <tr>
                                                                    <td>lieu de naissance</td>
                                                                    <td>{{lieuN}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Address</td>
                                                                    <td>{{addresse}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Email</td>
                                                                    <td>{{email}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Numero de telephone</td>
                                                                    <td>{{numeroT}}</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>

                                                        <span class="pull-right">
                                                            <a href="#settings" data-original-title="Edit this user" data-toggle="tab" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit">Modifier</i></a>
                                                        </span>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <!----------------------------------------------------------------------------------------------------------------------------------MESSAGES----------------------------------->
                                <div id="messages" class="tab-pane">

                                    <div class="distanceTop">
                                        <div class="wrapMessage">
                                            <input type="checkbox" class="read-more-state  " id="post-1" />

                                            <p class="read-more-wrap message">{{date}}, {{Title}}<span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!</span></p>

                                            <label for="post-1" class="read-more-trigger btn-danger" style="float:right"></label>
                                            <br />

                                        </div>
                                        <hr />
                                        <div class="wrapMessage">
                                            <input type="checkbox" class="read-more-state  " id="post-2" />

                                            <p class="read-more-wrap message">{{date}}, {{Title}}<span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!</span></p>

                                            <label for="post-2" class="read-more-trigger btn-danger" style="float:right;"></label>
                                            <br />

                                        </div>
                                        <hr />
                                        <div class="wrapMessage">
                                            <input type="checkbox" class="read-more-state  " id="post-3" />

                                            <p class="read-more-wrap message">{{date}}, {{Title}}<span class="read-more-target">Libero fuga facilis vel consectetur quos sapiente deleniti eveniet dolores tempore eos deserunt officia quis ab? Excepturi vero tempore minus beatae voluptatem!</span></p>

                                            <label for="post-3" class="read-more-trigger btn-danger" style="float:right;"></label>
                                            <br />

                                        </div>
                                        <hr />
                                    </div>
                                </div>







                                <!------------------------------------------------------------------------------------------------------------------------EVENEMENTES------------------------------------------->

                                <div id="allEvents" class="tab-pane">
                                    <h4>Evenements</h4>


                                </div>
                                <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




</body>
</html>

