<div ng-controller="CoursController">
    <div class="row">
        <div class="col-sm-6 form-group">
            <span class="label label-primary">Nom de la matiere:</span>
            <input class="form-control" type="text" placeholder="" ng-model="coursNameToAdd">
            <button type="button" class="btn" ng-click="newCours()" style="margin-top: 2px;">
                Créer une nouvelle matiere
            </button>
        </div>

        <div class="col-sm-6 form-group" style="float:left">
            <span class="label label-primary">Nombre de notes :</span>
            <input class="form-control" type="text" placeholder="" ng-model="note">
        </div>

        <!-- Cours List -->
        <div class="col-sm-6 col-lg-6 col-md-6 list-fix-height">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-dark">
                    Matières existantes
                </a>
            </div>
            <div class="list-group" ng-repeat="cours in coursList">
                <a href="javascript: void(0);"
                   class="list-group-item"
                   data-ng-click="">
                    {{cours.name}}
                    <div style="float:right">
                        <span id="editCours" class="fa fa-info" aria-hidden="true" data-toggle="modal" data-target="#editCoursModal" data-ng-click="setCours(cours)"></span>
                        <span class="fa fa-check" aria-hidden="true" data-ng-click="addToModule(cours)"></span>
                    </div>
                    <div style="clear:both"></div>
                </a>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editCoursModal" tabindex="-1" role="dialog" aria-labelledby="editCoursModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCours">Modifier une matière </h5>
                    </div>
                    <div class="modal-body">
                        <span class="label label-primary">Nom de la matiere:</span>
                        <input class="form-control" type="text" placeholder="" ng-model="coursNameToEdit">
                        <span class="label label-primary">Nombre de notes :</span>
                        <input class="form-control" type="text" placeholder="" ng-model="noteToEdit">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="editCours()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Module List -->
        <div class="col-sm-6 col-lg-6 col-md-6 list-fix-height">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-dark">
                    Modules existantes
                </a>
            </div>
            <div class="list-group" ng-repeat="module in moduleList">
                <a href="javascript: void(0);"
                   class="list-group-item"
                   data-ng-click="setModuleSelected(module)">
                    {{module.name}}
                </a>
            </div>
        </div>


        <!-- Cours on selected module -->

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 list-fix-height-footer">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-dark">
                    Matieres du module: {{moduleSelected.name}}
                </a>
            </div>
            <div class="list-group" ng-repeat="coursModule in moduleSelected.cours">
                <div class="list-group-item">
                    <a href="javascript: void(0);">
                        {{coursModule.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>