<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="../js/angularjs/angular.js"></script>
    <script src="../js/modules/app.module.js"></script>
    <script src="../js/services/events.service.js"></script>
    <script src="../js/services/student.service.js"></script>
    <script src="../js/controllers/Events.controller.js"></script>
</head>
<body>
    <div ng-app="IDBoard">
        <div ng-controller="EventsController">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <span class="count bg-danger">{{eventsNotViewed}}</span>
            </button>
            <form>
                Student <input class="form-control" type="text" placeholder="student id" ng-model="currentStudentId">
            </form>
            <label> Student Id: {{currentStudentId}}</label>
            <label>Current Student:{{currentStudent.name}} {{currentStudent.lastName}}</label>
            <ul class="list-group" ng-repeat="event in events| orderBy:'date':true">
                <li class="list-group-item">
                    {{event.msg}} ----  {{event.date | date:'yyyy-MM-dd'}}
                </li>
            </ul>
        </div>
    </div>

</body>
</html>