<div ng-controller="ModuleController" class="main_div">
    <div class="row">
        <div class="col-sm-6 form-group">
            <!-- Grade List -->
            <span class="label label-primary">Classes existentes :</span>
            <select class="form-control" ng-model="idGradeSelected">
                <option value="">--- Select an option ---</option>
                <option ng-repeat="grade in grades |orderBy:'+':true"
                        value="{{grade.id}}">
                    {{grade.name}}
                </option>
            </select>
        </div>

        <div class="col-sm-6 form-group">
            <span class="label label-primary">Nom du module:</span>
            <input name="moduleNameToAdd" class="form-control" type="text" placeholder="" ng-model="moduleNameToAdd" required>
            <span class="label label-primary">Creadits ETC:</span>
            <input class="form-control" type="number" placeholder="" ng-model="moduleCreditsETCToAdd">
            <button style="margin-top:2px"     type="button" class="btn mbuttons" ng-click="addModuleToGrade()" name="buttonAddModule">
                Ajouter un module
            </button>
        </div>

    </div>


    <!-- Modules List -->
    <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 list-fix-height">
            <div class="list-group mlist-group">
                <a href="#" class="list-group-item list-group-item background_header_list">
                    Modules de la classe {{currentGrade.name}}
                </a>
            </div>
            <div class="list-group mlist-group" ng-repeat="module in modulesOfGradeSelected">
                <a href="javascript: void(0);"
                   class="list-group-item">
                    <span data-placement="top" data-toggle="tooltip"
                          title="Credits ETC: {{module.creditsETC}}">{{module.name}} </span>
                        <div style="float:right" ng-click="setModuleSelected(module)" 
                             data-placement="top" 
                             data-toggle="tooltip"
                             title="Chercher les matiéres de ce module">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </div>
                </a>
                <div style="clear:both"></div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 list-fix-height">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item background_header_list">
                    Matières du module: {{moduleSelected.name}}
                </a>
            </div>
            <div class="list-group" ng-repeat="c in cours">
                <div class="list-group-item">
                    <a href="javascript: void(0);"
                       data-placement="top" 
                       data-toggle="tooltip"
                       title="Note : {{c.note}}">
                        {{c.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Cours in selected module -->
    
    
    

</div> <!-- .content -->