body {
}

.list-fix-height {
    height: 450px;
    overflow-y: auto;
}

.list-fix-height-footer {
    height: 350px;
    overflow-y: auto;
}

.main_div {
    padding: 5px;
    margin-left: 13px;
    margin-right: 13px;
}


.mbuttons {
    margin-top: 5px;
    margin-left: 1px;
    padding: 5px !important;
    background-color: gray !important;
    color: black;
    
}

.background_header_list {
    background-color:gray !important;
    color: black;
}


